@model List<Assesment.DomainModels.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h2 class="mb-3">Product list...</h2>

<table class="table table-dark table-striped">

    <tr>
        <th class="text-danger">Product Id</th>
        <th class="text-danger">Product Name</th>
        <th class="text-danger">Date of purchase</th>
        <th class="text-danger">Availablity Status</th>
        <th class="text-danger">Category Name</th>
        <th class="text-danger">Brand Name</th>
        <th class="text-danger">Active</th>
        <th class="text-danger">Price</th>
        <th class="text-danger">Image</thclass="text-danger">
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.DateOfPurchase.Value.ToString("yyyy-MM-dd")</td>
            <td>@item.AvailablityStatus</td>
            <td>
                @if (item.Category != null)
                {
                    <span>@item.Category.CategoryName</span>
                }
            </td>
            <td>
                @if (item.BrandId.HasValue)
                {
                    <span>@item.Brand.BrandName</span>
                }
            </td>
            <td>@item.Active</td>
            <td>$ @item.Price</td>
            <td><img src="data:image;base64,@item.Photo" width="100px" /></td>
            <td>
                <table>
                    <tr>
                        <td>
                            <a class="btn btn-outline-secondary" id="@item.ProductID" href="/Admin/Product/Details/@item.ProductID">Details</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-success" href="/Admin/Product/Edit/@item.ProductID">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-danger" href="/Admin/Product/Delete/@item.ProductID">Delete</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    }
</table>



